In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import  randn

In [2]:
ser = Series(randn(8), index=[[1,6,4,2,7,2,10,9],['b','b','b','m','m','k','k','k']])
ser

1   b   -0.713559
6   b   -1.249746
4   b    1.105783
2   m   -0.137521
7   m    0.442088
2   k    1.000380
10  k   -0.116244
9   k    0.901894
dtype: float64

In [3]:
ser.index

MultiIndex([( 1, 'b'),
            ( 6, 'b'),
            ( 4, 'b'),
            ( 2, 'm'),
            ( 7, 'm'),
            ( 2, 'k'),
            (10, 'k'),
            ( 9, 'k')],
           )

In [4]:
ser[2]

m   -0.137521
k    1.000380
dtype: float64

In [5]:
ser[9]

k    0.901894
dtype: float64

trying to call all values with similar sub-index

In [6]:
ser[:,'k']

2     1.000380
10   -0.116244
9     0.901894
dtype: float64

To create a DataFrame from a series of multiple index we use the unstack method

In [7]:
dframe = ser.unstack()
dframe

           b         k         m
1  -0.713559       NaN       NaN
2        NaN  1.000380 -0.137521
4   1.105783       NaN       NaN
6  -1.249746       NaN       NaN
7        NaN       NaN  0.442088
9        NaN  0.901894       NaN
10       NaN -0.116244       NaN

In [8]:
dframe2 = DataFrame(np.arange(16).reshape(4,4) ,index=[['x','x','s','s'],[1,2,1,2]], columns =[['KF','BN','LA','NA'] ,['COLD','HOT','COLD','HOT']])
dframe2

      KF  BN   LA  NA
    COLD HOT COLD HOT
x 1    0   1    2   3
  2    4   5    6   7
s 1    8   9   10  11
  2   12  13   14  15

In [9]:
dframe2.index

MultiIndex([('x', 1),
            ('x', 2),
            ('s', 1),
            ('s', 2)],
           )

In [10]:
dframe2.index.names = ['indx_1','indx_2']

dframe2.columns.names = ['Temp','city']

dframe2

Temp            KF  BN   LA  NA
city          COLD HOT COLD HOT
indx_1 indx_2
x      1         0   1    2   3
       2         4   5    6   7
s      1         8   9   10  11
       2        12  13   14  15

In [11]:
dframe2.columns.names = ['Temp','city']
dframe2

Temp            KF  BN   LA  NA
city          COLD HOT COLD HOT
indx_1 indx_2
x      1         0   1    2   3
       2         4   5    6   7
s      1         8   9   10  11
       2        12  13   14  15

In [12]:
# to sort level

In [14]:
dframe2.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [15]:
dframe2.sum(level='city',axis=1)

TypeError: sum() got an unexpected keyword argument 'level'