In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
info= {'state':['enugu','nas.','bauchi'],'religion':['christianity','christianity & islam','christianity',]}

In [3]:
info_frame= DataFrame(info)
info_frame

    state              religion
0   enugu          christianity
1    nas.  christianity & islam
2  bauchi          christianity

In [6]:

website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True

In [8]:
my_ser= Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_index= my_ser.index
my_index

NameError: name 'my_ser' is not defined