Permutation

In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
 dframe = DataFrame(np.arange(16).reshape(4,4))

In [3]:
blender = np.random.permutation(4)
blender

array([3, 2, 0, 1])

In [4]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
dframe.take(blender)

    0   1   2   3
3  12  13  14  15
2   8   9  10  11
0   0   1   2   3
1   4   5   6   7

In [7]:
box = np.array(['king','horse','qwin'])

In [8]:
shaker = np.random.randint(0,len(box),size = 10)
shaker

array([1, 0, 1, 0, 2, 0, 0, 0, 1, 0])

In [9]:
hand_g= box.take(shaker)
hand_g

array(['horse', 'king', 'horse', 'king', 'qwin', 'king', 'king', 'king',
       'horse', 'king'], dtype='<U5')