In [5]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [27]:
kosi= Series(np.arange(10),index=['c','b','a','j','y','z','w','e','y','u'])
kosi= 6*kosi
kosi

c     0
b     6
a    12
j    18
y    24
z    30
w    36
e    42
y    48
u    54
dtype: int32

In [29]:
kosi

c     0
b     6
a    12
j    18
y    24
z    30
w    36
e    42
y    48
u    54
dtype: int32

In [1]:

dframe= DataFrame(np.arange(10).reshape((5,2)),index=['svm','nn','nlp','lma','llm'], columns=['dataScience','machineLearning'])
dframe

NameError: name 'DataFrame' is not defined

In [26]:
dframe.drop('machineLearning', axis=1)

     dataScience
svm            0
nn             2
nlp            4
lma            6
llm            8

In [ ]:
# jan 5th to april 29th