In [1]:
import pandas as pd

In [2]:
from io import StringIO

In [3]:
dara = """ \
sample animal intelligence
A dog smart
B dog smart
c cat dumb
D cat dumb
E dog dumb
F cat smart
"""

In [4]:
dframe = pd.read_table(StringIO(dara),sep ='\s+')
dframe

  sample animal intelligence
0      A    dog        smart
1      B    dog        smart
2      c    cat         dumb
3      D    cat         dumb
4      E    dog         dumb
5      F    cat        smart

In [12]:
kk = pd.crosstab(dframe.animal,dframe.intelligence,margins = True)
kk

intelligence  dumb  smart  All
animal
cat              2      1    3
dog              1      2    3
All              3      3    6

Data visualization using seaborn :Histograms