In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

on Binning

In [2]:
years = [1990,1991,1992,2008,2012,2015,1987,1969,2013,2008,1999]
years

[1990, 1991, 1992, 2008, 2012, 2015, 1987, 1969, 2013, 2008, 1999]

In [3]:
decade_bins = [1960,1970,1980,1990,2000,2010,2020]

In [4]:
decade_cat = pd.cut(years,decade_bins)
decade_cat

[(1980, 1990], (1990, 2000], (1990, 2000], (2000, 2010], (2010, 2020], ..., (1980, 1990], (1960, 1970], (2010, 2020], (2000, 2010], (1990, 2000]]
Length: 11
Categories (6, interval[int64, right]): [(1960, 1970] < (1970, 1980] < (1980, 1990] < (1990, 2000] < (2000, 2010] < (2010, 2020]]

In [5]:
pd.Series(decade_cat).value_counts()

(1990, 2000]    3
(2010, 2020]    3
(1980, 1990]    2
(2000, 2010]    2
(1960, 1970]    1
(1970, 1980]    0
Name: count, dtype: int64

In [6]:
pd.value_counts(decade_cat)

C:\Users\HP\AppData\Local\Temp\ipykernel_5632\3082337819.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(decade_cat)

(1990, 2000]    3
(2010, 2020]    3
(1980, 1990]    2
(2000, 2010]    2
(1960, 1970]    1
(1970, 1980]    0
Name: count, dtype: int64

In [7]:
pd.cut(years,2,precision = 1)

[(1969.0, 1992.0], (1969.0, 1992.0], (1969.0, 1992.0], (1992.0, 2015.0], (1992.0, 2015.0], ..., (1969.0, 1992.0], (1969.0, 1992.0], (1992.0, 2015.0], (1992.0, 2015.0], (1992.0, 2015.0]]
Length: 11
Categories (2, interval[float64, right]): [(1969.0, 1992.0] < (1992.0, 2015.0]]

In [8]:
decade_cat.categories

IntervalIndex([(1960, 1970], (1970, 1980], (1980, 1990], (1990, 2000], (2000, 2010], (2010, 2020]], dtype='interval[int64, right]')

finding outliers in a Dataset

In [9]:
np.random.seed(12345678)

In [10]:
dframek = DataFrame(np.random.randn(1000,7))
dframek

            0         1         2         3         4         5         6
0    0.553708 -1.459632 -1.294585 -1.509674  1.571875 -0.975696  0.480699
1    0.625614  0.722353  0.910326  0.052467 -1.400124 -0.164340 -0.669418
2    0.711979  0.855321  0.176463  1.069086  0.506566  0.713538  0.671555
3    1.048823 -0.037207  0.055703  1.920795  1.071814  0.857649  0.678237
4   -1.183241 -0.928932 -0.234549 -0.981314  1.278519  1.119017  1.063490
..        ...       ...       ...       ...       ...       ...       ...
995  1.367835 -2.157092 -1.024344 -0.752065  0.535733  1.452590 -0.574393
996 -1.737098  0.189778  1.458399  1.257175 -0.282861 -0.427808 -1.520601
997  0.872554  1.451905 -0.125553  0.330650  0.277324  0.329991 -2.388250
998  1.259164  1.277471 -0.760622 -1.184819 -0.159670 -0.691063 -1.209541
999  0.676205 -0.558768 -0.649203  1.083354  2.067062 -1.112462 -0.360867

[1000 rows x 7 columns]

In [11]:
dframek.describe()

,0,1,2,3,4,5,6
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.024703,-0.023919,0.008233,0.001845,0.008448,-0.010041,0.042061
std,1.013501,0.981784,1.009153,1.014025,1.018587,1.018643,0.986205
min,-3.254116,-3.205353,-3.062957,-3.105699,-3.180474,-2.836288,-3.416460
25%,-0.665198,-0.725004,-0.711066,-0.716608,-0.644051,-0.672289,-0.598708
50%,0.021251,-0.023808,-0.038979,-0.031576,0.044187,-0.037839,0.047978
75%,0.742795,0.718688,0.725606,0.665407,0.649733,0.704828,0.713265
max,3.058248,2.729816,3.831707,3.279984,3.850410,3.154686,2.758940

In [12]:
col = dframek[1].head()
col

0   -1.459632
1    0.722353
2    0.855321
3   -0.037207
4   -0.928932
Name: 1, dtype: float64

In [15]:
 dframek[(np.abs(dframek)>3).any()]

C:\Users\HP\AppData\Local\Temp\ipykernel_5632\942702751.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dframek[(np.abs(dframek)>3).any()]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).